* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");

    /* Set a specific height */
    height: 100vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;

   }
   .nav-links a {
    color: #fff;
    opacity: 0.5;
    padding-bottom: .4rem;
    transition: all 500ms ease-in-out;
}
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .nav-links a:hover {
    /* background-color: #F4C6B0;
    color: black; */
    opacity: 1;
    border-bottom: 1px solid aliceblue;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }

   .main{
       color: aliceblue;
       font-weight: bold;
       text-align: center;
       font-size: large;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 5rem;
   }

   .main h2{
       font-size: 2.5rem;
        margin: 2rem 0rem;
    }

   .no-error{
       margin: 1rem 0rem;
       font-size: 1.5rem;
   }

   input[type="submit"], input[type="reset"]{
       margin: .5rem;
       padding: .4rem;
       font-size: 1rem;
   }

   input[type="text"]{
       padding: .2rem;
       font-size: 1.1rem;
   }

   td{
       padding: .7rem;
   }

   a{
       text-decoration: none;
       color: tomato;
   }
   /* 
   table{
       text-align: center;
       align-self: center;
   } */

   main{
       color: white;
       margin: 15rem 5rem;
       display: grid;
       grid-template-columns: 1fr 1fr;

   }

   main section{
       text-align: center;
   }

   main .left h1{
       font-size: xx-large;
   }

   main .left p{
    font-size: larger;
}

   main section:nth-child(2){
       padding-top: 6rem;
       font-size: xx-large;
   }

   .main h1{
       font-size: 1.5rem;
   }

   .msg{
       font-size: 4rem;
       text-align: center;
       margin-top: 12rem;
       color: wheat;
   }